.buttonsBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.tableHeaderCell {
	&:last-child {
		text-align: left;
	}
}

.sectionsContent {
	flex-wrap: wrap;
	gap: 10px;
}

.sectionBlock {
	width: calc(50% - 5px - 48px - 2px);
}
