.filterPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
	width: calc(280px - 40px);
	min-width: calc(280px - 40px);
	height: fit-content;
	min-height: 35vh;
	background: #f8f8f8;
	padding: 20px;
	border-radius: 10px;
}

.filterContent {
	flex-direction: column;
	gap: 20px;
}

.filterBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.filterName {
	font-weight: bold;
}

.priceInputWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.priceInput {
	width: 80px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	outline: none;
}

.sliderWrapper {
	position: relative;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
	position: absolute;
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	height: 5px;
	background: transparent;
	cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
	background: #ccc;
	height: 5px;
	border-radius: 5px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	transform: translate(0, -5px);
	background: #3d3d3d;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.rangeTrack {
	position: absolute;
	height: 5px;
	background: #007bff;
	border-radius: 5px;
	z-index: 1;
}

.minPrice,
.maxPrice {
	font-size: 14px;
	color: #333;
	width: 50px;
	text-align: center;
}

.resetButton:hover {
	background: #3d3d3d;
}
