.productItem {
	gap: 30px;
	flex-wrap: wrap;
}

.imageBlock {
	width: 350px;
	height: 300px;
	background-color: #dddddd;
	order: 1;
}

.filtersBlock {
	flex-direction: column;
	width: 350px;
	order: 3;

	.filtersTitle {
		background-color: #dddddd;
		padding: 10px;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.filtersList {
		width: 100%;
		background-color: white;
		// border: 1px solid #3d3d3d;
		flex-direction: column;

		.filterItem {
			&:last-child {
				.name,
				.values {
					border-bottom: 1px solid #dddddd;
				}

				.values {
				}
			}

			.name,
			.values {
				border: 1px solid #dddddd;
				border-bottom: 0px;
				padding: 10px;
			}

			.name {
				width: calc(50% - 30px);
				font-weight: 500;
			}

			.values {
				border-left: none;
				width: 50%;
			}
		}
	}
}

.descriptionBlock {
	flex-direction: column;
	justify-content: flex-start;
	gap: 30px;
	order: 2;
	width: calc(100% - 30px - 350px);
	min-width: 450px;
	max-height: 300px;

	.textBlock {
		flex-direction: column;
		overflow: hidden;
	}

	.description {
		overflow-y: auto;
	}
}

.buttonBlock {
	align-self: flex-start;
	width: fit-content;
	order: 4;

	&.mobile {
		display: none;
	}

	.column {
		flex-direction: column;
		gap: 5px;
		align-items: center;
	}

	.price {
		font-size: 20px;
		font-weight: 700;
	}
}

.description {
}

@media (max-width: 980px) {
	.descriptionBlock {
		width: 100%;
	}
	.buttonBlock {
		display: none;
		&.mobile {
			display: flex;
			align-items: flex-start;
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.filtersBlock {
		width: 100%;
	}
}

@media (max-width: 640px) {
	.descriptionBlock {
		min-width: unset;
	}

	.filtersBlock {
		.filtersTitle {
			width: calc(100% - 20px);
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
		}
		.filtersList {
			overflow-x: auto;
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			.filterItem {
				.name {
					border-left: none;
					min-width: 180px;
				}
				.values {
					border-right: none;
					min-width: 180px;
				}
			}
		}
	}
}
