.loadingBlock {
	position: relative;
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;

	&.white {
		padding: 30px;
		background-color: white;
		border-radius: 10px;
		border: 1px solid var(--grey-color);
	}
}

.loadingIcon {
	width: 20px;
	height: 20px;
	border: 4px solid var(--light-grey-color);
	border-top: 4px solid var(--blue-color);
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

.loadingText {
	position: relative;
	display: flex;
	font-size: 20px;
	color: var(--text-color);
	// color: #1f64f8;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
