.breadcrumbs {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 10px 0px;
	border-bottom: 1px solid var(--grey2-color);
	border-top: 1px solid var(--grey2-color);
	border-radius: 0px;
	background-color: var(--grey-color);

	.breadcrumbsList {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;

		li {
			font-size: 15px;
			color: var(--text-color);

			a {
				color: var(--text-color);
			}

			display: flex;
			align-items: center;
		}
	}

	.arrowsRight {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;

		.arrow {
			position: absolute;
			left: 50%;
			width: 7px;
			height: 1px;
			background-color: var(--text-color);

			&:nth-child(1) {
				transform: rotate(-135deg) translate(50%, 0%);
			}
			&:nth-child(2) {
				transform: rotate(-225deg) translate(50%, 0%);
			}
		}
	}
}
