.loadingBlock {
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
}

.loadingIcon {
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	border: 4px solid #1f64f8;
	border-radius: 50%;

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 5px;
		height: 0px;
		border: 12px solid transparent;
		border-top: 0px solid transparent;
		border-bottom: 15px solid white;
		transform: translate(-50%, 0) rotate(360deg);
		transform-origin: 50% 0%;
		background-color: transparent;
		animation: rotating 0.5s infinite linear;
	}
}

.loadingText {
	font-size: 20px;
	// color: #1f64f8;
}

@keyframes rotating {
	from {
		transform: translate(-50%, 0) rotate(0deg);
	}

	to {
		transform: translate(-50%, 0) rotate(360deg);
	}
}
