body {
	margin: 0;
	font-family: Montserrat;
}

:root {
	--text-color: rgba(14, 14, 14, 1);
	--light-grey-color: rgba(248, 249, 250, 1);
	--light-grey2-color: rgba(233, 236, 239, 1);
	--grey-color: rgba(235, 230, 231, 1);
	--grey2-color: rgba(215, 215, 215, 1);
	--blue-color: rgba(59, 130, 246, 1);
	--dark-blue-color: rgba(25, 65, 143, 1);
	--light-red-color: rgba(239, 68, 68, 0.1);
	--red-color: rgba(239, 68, 68, 1);
	--dark-red-color: rgba(151, 23, 44, 1);
	--green-color: rgba(16, 185, 129, 1);
	--dark-green-color: rgba(16, 85, 62, 1);
	--orange-color: rgba(255, 165, 0, 1);
	--dark-orange-color: rgba(204, 102, 0, 1);
}

div {
	position: relative;
	display: flex;

	&#root {
		display: block;
	}
}

.react-calendar {
	display: block;
	div {
		display: block; /* Принудительно меняем `display` внутри календаря */
	}

	.react-calendar__navigation {
		display: flex;
	}
}

* {
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.screen {
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 100px);
	padding: 100px 0px 0px 0px;
}

.screenContent {
	flex-direction: column;
	width: 100%;
	max-width: 1400px;
	padding: 50px 0px 100px 0px;
}

.title {
	margin: 0;
}

button,
.button {
	font-family: Montserrat;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: fit-content;
	font-size: 20px;
	font-weight: 600;
	color: white;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 50px;
	background-color: rgba(176, 203, 31, 1);
	border: 1px solid rgba(176, 203, 31, 1);
	cursor: pointer;
	transition: 0.25s;

	&:hover {
		background-color: #3d3d3d;
		border: 1px solid rgba(176, 203, 31, 1);
	}
}

.pageTitle {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 20px 0px;
}

/* Стили для календаря */
.react-calendar {
	min-width: 350px;
	background: white;
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	div {
		button {
			border: 2px solid white;
			border-radius: 8px;
			color: #3d3d3d;
			font-size: 14px;

			&.react-calendar__navigation__label {
				font-size: 14px;
				padding: 0;
			}

			&.react-calendar__navigation__arrow {
				padding: 0;
			}
		}
	}

	/* Кнопки переключения месяца */
	.react-calendar__navigation button {
		&:hover {
		}
	}

	/* Дни недели */
	.react-calendar__month-view__weekdays {
	}

	/* Обычные дни */
	.react-calendar__tile {
		&:hover {
		}
	}

	/* Выбранный день */
	.react-calendar__tile--active {
		background-color: rgba(176, 203, 31, 1);
		&:enabled {
			background-color: rgba(176, 203, 31, 1);
			&:focus {
				background-color: rgba(176, 203, 31, 1);
			}
		}
	}

	// Текущий день
	.react-calendar__tile--now {
		background: #3d3d3d;
		color: white;
		&:enabled {
			&:hover {
				background: #333333;
			}
		}
	}

	/* Заблокированные дни (например, прошедшие даты) */
	.react-calendar__tile--disabled {
	}
}

option {
}

select {
}

@media (max-width: 1440px) {
	.screenContent {
		max-width: 1200px;
	}
}
@media (max-width: 1280px) {
	.screenContent {
		max-width: calc(100% - 10vw);
	}
}
@media (max-width: 980px) {
	.screenContent {
	}
}
@media (max-width: 768px) {
	.screenContent {
	}
}
@media (max-width: 640px) {
	.screenContent {
		max-width: calc(100% - 5vw);
	}
}
@media (max-width: 480px) {
	.screenContent {
	}
}
